<app-book-item [book]="book"></app-book-item>

<h4 class="mt-4">Reviews</h4>

<div class="row">
    <div class="col-12" *ngFor="let review of reviews">
        <div class="card" style="width: 100%">
            <div class="card-body">
              <h5 class="card-title">{{ review.title }} <ngb-rating [max]="5" [(rate)]="review.score"></ngb-rating></h5>
              <h6 class="card-subtitle mb-2 text-muted">
                {{ review.profileName }} - {{ review.time | date }}
              </h6>
              <p class="card-text">ISBN: {{ review.text }}</p>
              <a class="card-link" (click)="deleteReview(review)">Delete</a>
            </div>
          </div>
    </div>
</div>