<div class="row mt-3">
  <div class="col text-center">
    <h5>TODO - implementirati stranicu za prikaz knjiga</h5>
  </div>
</div>

<div class="row mt-3 mb-3">
  <div class="col">
    <form (submit)="searchBooks()">
      <div class="row">
        <div class="col">
          <input
            class="form-control"
            type="text"
            name="searchTerm"
            id="search"
            [(ngModel)]="searchTerm"
          />
        </div>
        <div class="col">
          <button class="btn btn-outline-primary">Search</button>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <input
                type="radio"
                name="searchType"
                id="title"
                value="title"
                [(ngModel)]="searchType"
              />
              <label for="title">Title</label>
            </div>
            <div class="col">
              <input
                type="radio"
                name="searchType"
                id="author"
                value="author"
                [(ngModel)]="searchType"
              />
              <label for="author">Author</label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col" *ngFor="let book of books.results">
    <app-book-item [book]="book"></app-book-item>
  </div>
</div>

<div class="row justify-content-center mt-4">
  <div class="col-6">
    <button class="btn btn-primary" (click)="loadMoreBooks()">Load More</button>
  </div>
  <div class="col-6">
    <button class="btn btn-primary" (click)="loadLessBooks()">Load Less</button>
  </div>
</div>
