<div class="row mt-3">
  <div class="col text-center">
    <h5>TODO - implementirati formu za dodavanje (i azuriranje) knjige</h5>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-6">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="ISBN">ISBN</label>
        <input class="form-control" type="number" formControlName="ISBN" name="ISBN" id="ISBN" />
        <small class="fw-bold text-danger" *ngIf="ISBN?.touched && ISBN?.errors?.['required']">ISBN is required!</small>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" formControlName="title" name="title" id="title" />
        <small class="fw-bold text-danger" *ngIf="title?.touched && title?.errors?.['required']">Title is required!</small>
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input class="form-control" type="text" formControlName="author" name="author" id="author" />
        <small class="fw-bold text-danger" *ngIf="author?.touched && author?.errors?.['required']">Author is required!</small>
      </div>
      <div class="form-group">
        <label for="yearOfPublication">Year of Publication</label>
        <input class="form-control" type="number" placeholder="0" formControlName="yearOfPublication" name="yearOfPublication" id="yearOfPublication" />
        <small class="fw-bold text-danger" *ngIf="yearOfPublication?.touched && yearOfPublication?.errors?.['required']">Year of Publication is required!</small>
      </div>
      <div class="form-group">
        <label for="publisher">Publisher</label>
        <input class="form-control" type="text" formControlName="publisher" name="publisher" id="publisher" />
        <small class="fw-bold text-danger" *ngIf="publisher?.touched && publisher?.errors?.['required']">Publisher is required!</small>
      </div>
      <button (click)="onSubmit()" type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
</div>
