<div class="card" style="width: 32rem">
  <div class="card-body">
    <h5 class="card-title">{{book.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
    <p class="card-text">
      ISBN: {{book.ISBN}}<br>
      Year of publication: {{book.yearOfPublication}}<br>
      Publisher: {{book.publisher}}
    </p>
    <a href="#" class="card-link" [routerLink]="['/books/', book._id]">Details</a>
    <a href="#" class="card-link" [routerLink]="['/edit-book', book._id]">Edit</a>
  </div>
</div>
